@keyframes headerTypeWriter {
  0% {
    opacity: 1;
    width: 0;
    border-right: 3px solid black;
  }
  99% {
    width: 100%;
    border-right: 3px solid black;
  }
  100% {
    opacity: 1;
    border-right: 0px solid black;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
.experience {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 9vh 10vw 7.5vh 10vw;
  gap: 5vh;
}
.experience__header-container {
  width: -moz-min-content;
  width: min-content;
}
.experience__header-container__header {
  display: inline-block;
  opacity: 0;
  font-size: 42px;
  font-weight: 700;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: headerTypeWriter 1s steps(17) forwards, cursor 0.4s step-end 17 alternate;
}
.experience__header-container__header::before {
  content: "Work & ";
  color: var(--color-orange);
}
.experience__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
}
.experience__cards-container__cards-box {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 45%;
}
.experience__cards-container__cards-box__header {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.experience__cards-container__cards-box__header::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;
  display: block;
  height: 2px;
  width: 38%;
  background-color: black;
}
.experience__cards-container__cards-box__header::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  display: block;
  height: 2px;
  width: 38%;
  background-color: black;
}
.experience__cards-container__cards-box__card {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 30px 40px;
  height: auto;
  min-width: 400px;
  width: auto;
  gap: 1vh;
  border: 2px solid var(--color-orange);
  border-radius: 25px;
  box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.experience__cards-container__cards-box__card__title {
  font-size: 20px;
  font-weight: 600;
}
.experience__cards-container__cards-box__card__title__orange {
  color: var(--color-orange);
}
.experience__cards-container__cards-box__card ul {
  padding-left: 20px;
}
.experience__cards-container__cards-box__card__time {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 1vw;
}
.experience__cards-container__cards-box__card__certificate {
  position: absolute;
  top: 45px;
  left: 120px;
  border-radius: 25px;
  padding: 2px 8px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: var(--color-orange);
}
.experience__cards-container__cards-box__card a {
  position: absolute;
  top: 45px;
  left: 70px;
  border-radius: 25px;
  padding: 2px 8px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: var(--color-orange);
}
.experience__cards-container__cards-box__card__academy {
  font-size: 16px;
}

@media only screen and (max-width: 1600px) {
  .education__header-container {
    text-align: center;
  }
  .education__cards-container {
    gap: 10vh;
    flex-direction: column;
    align-items: center;
  }
  .education__cards-container__cards-box {
    width: 80%;
  }
}
@media only screen and (max-width: 920px) {
  .education__cards-container__cards-box__header {
    font-size: 16px;
  }
  .education__cards-container__cards-box__header::before {
    height: 1.5px;
    width: 30%;
  }
  .education__cards-container__cards-box__header::after {
    height: 1.5px;
    width: 30%;
  }
  .education__cards-container__cards-box__card {
    height: auto;
  }
  .education__cards-container__cards-box__card__title {
    font-size: 16px;
  }
  .education__cards-container__cards-box__card img {
    height: 20px;
  }
  .education__cards-container__cards-box__card__time {
    font-size: 12px;
  }
  .education__cards-container__cards-box__card__certificate {
    font-size: 12px;
    left: 90px;
    top: 38px;
  }
  .education__cards-container__cards-box__card a {
    font-size: 12px;
    top: 38px;
    left: 60px;
  }
  .education__cards-container__cards-box__card__academy {
    font-size: 12px;
  }
}
@media only screen and (max-width: 750px) {
  .education__cards-container__cards-box__card__time {
    font-size: 12px;
  }
  .education__cards-container__cards-box__card img {
    height: 20px;
  }
  .education__cards-container__cards-box__card__certificate {
    position: static;
    width: -moz-max-content;
    width: max-content;
  }
  .education__cards-container__cards-box__card a {
    position: static;
    width: -moz-min-content;
    width: min-content;
  }
  .education__cards-container__cards-box__card__academy {
    font-size: 12px;
  }
}
@media only screen and (max-width: 450px) {
  .education__header-container__header {
    font-size: 24px;
    font-weight: 700;
  }
  .education__cards-container__cards-box__header::before {
    width: 20%;
  }
  .education__cards-container__cards-box__header::after {
    width: 20%;
  }
  .education__cards-container__cards-box__card__certificate {
    position: static;
    width: -moz-max-content;
    width: max-content;
    font-size: 10px;
  }
}/*# sourceMappingURL=experience.module.css.map */