@keyframes headerTypeWriter {
  0% {
    opacity: 1;
    width: 0;
    border-right: 3px solid black;
  }
  99% {
    width: 100%;
    border-right: 3px solid black;
  }
  100% {
    opacity: 1;
    border-right: 0px solid black;
  }
}
@keyframes bioAnimation {
  from {
    opacity: 0;
    margin-top: 7vh;
  }
  to {
    opacity: 1;
    margin-top: 0.5vh;
  }
}
@keyframes svgAnimation {
  from {
    opacity: 0;
    margin-top: 7vh;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
.home {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  height: 90vh;
  padding: 10vh 5vw 5vh 5vw;
  width: 100%;
  background-color: var(--background-color);
}
.home__position {
  position: absolute;
  width: auto;
  height: 2vh;
  font-size: 24px;
  margin: 0 0 4vh 160px;
}
.home__position::before {
  content: "";
  display: flex;
  position: absolute;
  top: 15px;
  left: -160px;
  width: 146px;
  height: 1px;
  background-color: var(--color-black);
}
.home__left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 9vh;
}
.home__left__header-box {
  width: -moz-min-content;
  width: min-content;
}
.home__left__header-box__welcome {
  opacity: 0;
  font-size: 64px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: headerTypeWriter 1s steps(12) forwards, cursor 0.4s step-end 12 alternate;
}
.home__left__header-box__welcome::before {
  content: "Hello ";
  color: var(--color-orange);
}
.home__left__header-box__name {
  opacity: 0;
  width: 100%;
  font-size: 64px;
  overflow: hidden;
  margin-bottom: 3vh;
  white-space: nowrap;
  animation: headerTypeWriter 2s 1.2s steps(22) forwards, cursor 0.4s step-end 22 alternate;
}
.home__left__header-box__name::before {
  content: "I'm ";
  color: var(--color-orange);
}
.home__left__bio {
  text-align: justify;
  width: 100%;
  opacity: 0;
  animation: bioAnimation 1s 3.5s forwards;
}
.home__left__contact {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0 12vw 0 0;
  padding: 5vh 0;
}
.home__left__contact svg {
  margin: 0vh 1vw 0 1vw;
  opacity: 0;
  background-color: rgba(255, 182, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
  animation: svgAnimation 1s 5s forwards;
}
.home__left__contact svg:hover {
  transform: scale(1.2, 1.2) rotate(360deg);
  transition: transform 0.5s;
  background-color: var(--color-orange);
  cursor: pointer;
}
.home__portrait {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: svgAnimation 1s 5s forwards;
}
.home__portrait img {
  width: 50vh;
  height: 50vh;
}

@media only screen and (max-width: 1500px) {
  .home {
    height: auto;
    flex-direction: column;
    padding: 10vh 10vw 5vh 10vw;
  }
  .home__left {
    width: 100%;
  }
  .home__portrait {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .home__position {
    font-size: 20px;
  }
  .home__left__header-box__welcome,
  .home__left__header-box__name {
    font-size: 42px;
  }
}
@media only screen and (max-width: 600px) {
  .home__position {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
  .home__left__header-box__welcome,
  .home__left__header-box__name {
    font-size: 32px;
  }
}
@media only screen and (max-width: 450px) {
  .home__position {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-left: 130px;
  }
  .home__position::before {
    position: absolute;
    top: 15px;
    left: -130px;
    width: 100px;
    height: 1px;
    background-color: var(--color-black);
  }
  .home__left__header-box__welcome,
  .home__left__header-box__name {
    font-size: 22px;
  }
  .home__left__bio {
    font-size: 12px;
    line-height: 27px;
  }
  .home__portrait img {
    width: 80%;
    height: 80%;
  }
}/*# sourceMappingURL=home.module.css.map */