@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes header-TypeWriter {
  0% {
    opacity: 1;
    width: 0;
    border-right: 3px solid black;
  }
  99% {
    width: 100%;
    border-right: 3px solid black;
  }
  100% {
    opacity: 1;
    border-right: 0px solid black;
  }
}
@keyframes project-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.projects {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  padding: 10vh 10vw 15vh 10vw;
  height: auto;
}
.projects__header-box {
  width: -moz-min-content;
  width: min-content;
}
.projects__header-box__title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  opacity: 0;
  font-size: 48px;
  animation: header-TypeWriter 1s steps(16) forwards, cursor 0.4s step-end 16 alternate;
}
.projects__header-box__title::before {
  content: "My ";
  color: var(--color-orange);
}
.projects__project {
  position: relative;
  box-sizing: border-box;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  height: auto;
  gap: 5%;
  border: 3px solid var(--color-orange);
  background-color: var(--background-color);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0;
  animation: project-in 0.7s 1.3s forwards;
}
.projects__project__img {
  width: 50%;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects__project__img-mobile {
  display: none;
}
.projects__project__details {
  width: 40%;
  padding: 1vh 2vw;
  border-left: 3px solid var(--color-orange);
  display: flex;
  flex-direction: column;
}
.projects__project__details__title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 2vh;
}
.projects__project__details__timeline {
  font-size: 20px;
  font-weight: 500;
}
.projects__project__details__button {
  margin: 4vh 0 0 0;
  width: 16vw;
  height: 40px;
  padding: 1vh 2vw;
}
.projects__project__details__icons {
  display: inline-flex;
  margin-top: 7vh;
  gap: 1vw;
}
.projects__project__details__icons__item {
  height: 40px;
}

@media only screen and (max-width: 1600px) {
  .projects__project {
    flex-direction: row;
    align-items: center;
    gap: 5vh;
    padding-bottom: 10vh;
  }
  .projects__project__img {
    width: 70%;
  }
  .projects__project__details {
    flex-direction: column;
    width: 100%;
  }
  .projects__project__details__title {
    font-size: 32px;
    font-weight: 600;
  }
  .projects__project__details__timeline {
    font-size: 16px;
  }
  .projects__project__details__button {
    font-size: 16px;
  }
  .projects__project__details__icons {
    position: absolute;
    bottom: 20px;
    left: 22vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .projects__project__details__icons__item {
    height: 30px;
  }
}
@media only screen and (max-width: 1100px) {
  .projects__project {
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding-bottom: 0vh;
  }
  .projects__project__img {
    width: 90%;
  }
  .projects__project__details {
    border-left: none;
    border-top: 3px solid var(--color-orange);
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    padding: 3vh 0;
  }
  .projects__project__details__icons {
    position: absolute;
    top: 10vh;
    left: 94%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .projects__project__details__icons__item {
    height: 2vw;
  }
}
@media only screen and (max-width: 800px) {
  .projects__project {
    flex-direction: column-reverse;
    padding-bottom: 5vh;
  }
  .projects__project__img {
    display: none;
  }
  .projects__project__img-mobile {
    display: flex;
    width: 70%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .projects__project__details {
    border-top: none;
    border-bottom: 3px solid var(--color-orange);
  }
  .projects__project__details__icons {
    position: static;
    padding: 3vh 0 0 0;
    display: flex;
    flex-direction: row;
  }
  .projects__project__details__icons__item {
    height: 20px;
  }
  .projects__project__details__button {
    width: auto;
  }
}
@media only screen and (max-width: 480px) {
  .projects {
    align-items: center;
  }
  .projects__header-box__title {
    font-size: 36px;
  }
  .projects__project__img-mobile {
    display: flex;
    width: 80%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .projects__project__details {
    border-top: none;
    border-bottom: 3px solid var(--color-orange);
  }
  .projects__project__details__title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 2vh;
    text-align: center;
    border-bottom: 2px solid var(--color-orange);
    margin-bottom: 10px;
  }
  .projects__project__details__timeline {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  .projects__project__details__icons {
    position: static;
    padding: 3vh 0 0 0;
    display: flex;
    flex-direction: row;
  }
  .projects__project__details__icons__item {
    height: 20px;
  }
  .projects__project__details__button {
    width: auto;
  }
}/*# sourceMappingURL=projects.module.css.map */