@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes header-1TypeWriter {
  0% {
    opacity: 1;
    width: 0;
    border-right: 3px solid black;
  }
  99% {
    width: 100%;
    border-right: 3px solid black;
  }
  100% {
    opacity: 1;
    border-right: 0px solid black;
  }
}
.project {
  box-sizing: border-box;
  height: auto;
  padding: 5vh 10vw 15vh 10vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.project__title-container {
  width: -moz-fit-content;
  width: fit-content;
}
.project__title-container__title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  opacity: 0;
  font-size: 48px;
  animation: header-1TypeWriter 1s steps(16) forwards, cursor 0.4s step-end 16 alternate;
}
.project__title-container__title::after {
  content: " Project";
  color: var(--color-orange);
}
.project__top-container {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  justify-content: space-between;
}
.project__top-container__img {
  height: 50vh;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project__top-container__img-mobile {
  display: none;
}
.project__top-container__technologies {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 1vh 2vw;
  border: 3px solid var(--color-orange);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project__top-container__technologies__header::before {
  content: "Tech";
  color: var(--color-orange);
}
.project__top-container__technologies__list {
  padding-left: 1vw;
}
.project__top-container__technologies__icons {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 2vh;
  border-top: 2px solid var(--color-orange);
  padding: 2vh 0;
}
.project__top-container__technologies__icons__icon {
  height: 25px;
}
.project__top-container__technologies__button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  gap: 1vw;
}
.project__top-container__technologies__button-box__button {
  display: inline-flex;
  align-items: center;
  padding: 0.7vh 1.5vw;
}
.project__top-container__technologies__button-box__button__img {
  height: 25px;
  margin-right: 0.5vw;
}
.project__bottom-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin-top: 20vh;
  flex-direction: column;
  padding: 1vh 2vw;
  border: 3px solid var(--color-orange);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project__bottom-container__header::before {
  content: "About ";
  color: var(--color-orange);
}
.project__bottom-container__about {
  margin: 10px 0;
}
.project__bottom-container__list {
  padding: 10px 20px;
  margin-top: 0;
}
.project__gallery-container {
  box-sizing: border-box;
  margin-top: 20vh;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.project__gallery-container__img {
  width: 80%;
  border-radius: 25px;
  border: 3px solid var(--color-orange);
}
.project__gallery-container__img-mobile {
  display: none;
}

@media only screen and (max-width: 1500px) {
  .project {
    align-items: center;
  }
  .project__top-container {
    flex-direction: column;
    width: 90%;
  }
  .project__top-container__img {
    width: 100%;
    height: auto;
  }
  .project__top-container__technologies {
    gap: 2vh;
    align-items: center;
  }
  .project__top-container__technologies__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 3vw;
         column-gap: 3vw;
    padding-left: 0vw;
    row-gap: 2vh;
  }
  .project__top-container__technologies__list li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 50px;
    border: 2px solid var(--color-orange);
    border-radius: 25px;
  }
  .project__top-container__technologies__button-box {
    justify-content: center;
  }
  .project__top-container__technologies__icons {
    justify-content: center;
    gap: 2vw;
  }
  .project__bottom-container {
    margin-top: 5vh;
    align-items: center;
    width: 90%;
  }
  .project__gallery-container {
    margin-top: 5vh;
    width: 90%;
  }
  .project__gallery-container__img {
    width: 100%;
  }
}
@media only screen and (max-width: 830px) {
  .project {
    align-items: center;
  }
  .project__top-container {
    flex-direction: column;
    width: 70%;
    align-items: center;
  }
  .project__top-container__img {
    display: none;
  }
  .project__top-container__img-mobile {
    display: flex;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .project__top-container__technologies__button-box {
    flex-direction: column;
    gap: 2vh;
  }
  .project__top-container__technologies__button-box__button {
    width: 200px;
  }
  .project__bottom-container {
    margin-top: 5vh;
    align-items: center;
    width: 100%;
  }
  .project__gallery-container {
    margin-top: 5vh;
    width: 70%;
  }
  .project__gallery-container__img {
    display: none;
  }
  .project__gallery-container__img-mobile {
    display: block;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media only screen and (max-width: 460px) {
  .project__title-container__title {
    font-size: 24px;
  }
  .project__top-container {
    width: 100%;
  }
  .project__gallery-container {
    width: 100%;
  }
}/*# sourceMappingURL=project.module.css.map */