@keyframes headerTypeWriter {
  0% {
    opacity: 1;
    width: 0;
    border-right: 3px solid black;
  }
  99% {
    width: 100%;
    border-right: 3px solid black;
  }
  100% {
    opacity: 1;
    border-right: 0px solid black;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
.education {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 9vh 10vw 7.5vh 10vw;
  gap: 5vh;
  &__header-container {
    width: min-content;
    &__header {
      display: inline-block;
      opacity: 0;
      font-size: 42px;
      font-weight: 700;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      animation: headerTypeWriter 1s steps(21) forwards,
        cursor 0.4s step-end 21 alternate;
    }
    &__header::before {
      content: "Education ";
      color: var(--color-orange);
    }
  }
  &__cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
    &__cards-box {
      display: flex;
      flex-direction: column;
      gap: 5vh;
      width: 45%;
      &__header {
        position: relative;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
      }
      &__header::before {
        content: "";
        position: absolute;
        top: 14px;
        left: 10px;
        display: block;
        height: 2px;
        width: 38%;
        background-color: black;
      }
      &__header::after {
        content: "";
        position: absolute;
        top: 14px;
        right: 10px;
        display: block;
        height: 2px;
        width: 38%;
        background-color: black;
      }
      &__card {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 10px 20px;
        height: 100px;
        gap: 1vh;
        border: 2px solid var(--color-orange);
        border-radius: 25px;
        box-shadow: (-2px 2px 2px 2px rgba(0, 0, 0, 0.3));
        &__title {
          font-size: 20px;
          font-weight: 600;
          &__orange {
            color: var(--color-orange);
          }
        }

        &__time {
          font-size: 16px;
          display: inline-flex;
          align-items: center;
          gap: 1vw;
        }
        &__certificate {
          position: absolute;
          top: 45px;
          left: 120px;
          border-radius: 25px;
          padding: 2px 8px;
          display: inline-flex;
          align-items: center;
          gap: 5px;
          background-color: var(--color-orange);
        }
        a {
          position: absolute;
          top: 45px;
          left: 70px;
          border-radius: 25px;
          padding: 2px 8px;
          display: inline-flex;
          align-items: center;
          gap: 5px;
          background-color: var(--color-orange);
        }
        &__academy {
          font-size: 16px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1600px) {
  .education {
    &__header-container {
      text-align: center;
    }
    &__cards-container {
      gap: 10vh;
      flex-direction: column;
      align-items: center;
      &__cards-box {
        width: 80%;
      }
    }
  }
}
@media only screen and (max-width: 920px) {
  .education {
    &__cards-container {
      &__cards-box {
        &__header {
          font-size: 16px;
        }
        &__header::before {
          height: 1.5px;
          width: 30%;
        }
        &__header::after {
          height: 1.5px;
          width: 30%;
        }
        &__card {
          height: auto;
          &__title {
            font-size: 16px;
          }
          img {
            height: 20px;
          }
          &__time {
            font-size: 12px;
          }
          &__certificate {
            font-size: 12px;
            left: 90px;
            top: 38px;
          }
          a {
            font-size: 12px;
            top: 38px;
            left: 60px;
          }
          &__academy {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .education {
    &__cards-container {
      &__cards-box {
        &__card {
          &__time {
            font-size: 12px;
          }
          img {
            height: 20px;
          }
          &__certificate {
            position: static;
            width: max-content;
          }
          a {
            position: static;
            width: min-content;
          }
          &__academy {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .education {
    &__header-container {
      &__header {
        font-size: 32px;
        font-weight: 700;
      }
    }
    &__cards-container {
      &__cards-box {
        &__header::before {
          width: 20%;
        }
        &__header::after {
          width: 20%;
        }

        &__card {
          &__certificate {
            position: static;
            width: max-content;
            font-size: 10px;
          }
        }
      }
    }
  }
}
