@keyframes belt-top {
  from {
    top: -20px;
    opacity: 0;
  }
  to {
    top: -7px;
    opacity: 1;
    height: 15px;
  }
}
@keyframes belt-bottom {
  from {
    bottom: -20px;
    opacity: 0;
  }
  to {
    bottom: -7px;
    opacity: 1;
    height: 15px;
  }
}
.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  z-index: 100;
  font-weight: 600;
  background-color: var(--background-color);
  &__separator {
    display: block;
  }
  &__hamburger {
    display: none;
  }
  &__list {
    list-style-type: none;

    &__item {
      display: inline;
      margin: 0 2em;
      font-size: 16px;
      .link__active {
        color: var(--color-orange);
      }
      .link__disactive:hover::before {
        content: "";
        position: absolute;
        width: 110%;
        height: 3px;
        background-color: rgba(255, 182, 0, 0.6);
        transform: skewY(-4deg);
        z-index: -1;
        animation: belt-top 0.5s forwards;
      }
      .link__disactive:hover::after {
        content: "";
        position: absolute;
        left: -10%;
        width: 110%;
        height: 3px;
        background-color: rgba(255, 182, 0, 0.6);
        transform: skewY(-4deg);
        z-index: -1;
        animation: belt-bottom 0.5s forwards;
      }

      .link__disactive {
        color: var(--color-black);
        position: relative;
      }
    }
    li:hover {
      cursor: pointer;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    font-size: 16px;
    padding: 10px 20px;
    img {
      margin-right: 5px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .header {
    justify-content: flex-end;
    align-items: baseline;
    padding-right: 0;
    &__list {
      display: none;
    }
    &__button {
      display: none;
    }
    &__hamburger--active {
      background-color: white;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 210px;
      height: auto;
      padding-right: 10px;
      img {
        width: 40px;
        align-self: flex-end;
      }
      img:hover {
        cursor: pointer;
      }
    }
    &__hamburger {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      justify-content: flex-end;
      width: 210px;
      height: auto;
      padding-right: 10px;
      img {
        width: 40px;
        align-self: flex-end;
      }
      img:hover {
        cursor: pointer;
      }
      &__list {
        text-align: end;
        list-style-type: none;
        &__item {
          display: block;
          text-align: end;
          width: 150px;
          padding: 10px 0px;
          margin: 0;
          background-color: white;
          .link__active {
            color: var(--color-orange);
          }
        }
      }
      &__button {
        display: flex;
        width: 210px;
        border-radius: 0;
        img {
          height: 24px;
        }
      }
    }
  }
}
