.home {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  padding: 20vh 5vw 15vh 5vw;
}
.home__main {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100%;

  .home__left {
    display: flex;
    flex-direction: column;
    width: 50%;

    &__position {
      position: relative;
      font-size: 24px;
      margin: 0 0 4vh 160px;
    }
    &__position::before {
      content: "";
      display: flex;
      position: absolute;
      top: 15px;
      left: -160px;
      width: 146px;
      height: 1px;
      background-color: var(--color-black);
    }
    &__welcome::before {
      content: "Hello ";
      color: var(--color-orange);
    }
    &__name::before {
      content: "I'm ";
      color: var(--color-orange);
    }
    &__bio {
      padding-top: 7vh;
    }
    &__contact {
      display: inline-flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: auto;
      padding: 0 12vw 0 0;
      padding: 5vh 0;
      svg {
        margin: 0 1vw;
      }
      svg:hover {
        cursor: pointer;
      }
    }
  }
  .home__portrait {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    img {
      width: 50vh;
      height: 50vh;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .home {
    height: auto;
  }
  .home__main {
    flex-direction: column;
    .home__left,
    .home__portrait {
      width: 100%;
    }
  }
}
