.header-container {
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  ul {
    list-style-type: none;

    li {
      display: inline;
      margin: 0 2em;
    }
    li:hover {
      cursor: pointer;
    }
  }
}
