@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Habibi&family=PT+Serif&family=Poppins:wght@500&family=Roboto+Condensed:wght@700&family=Roboto+Flex:opsz,wght@8..144,600&display=swap");
$Poppins: "Poppins", sans-serif;
$GrandHotel: "Grand Hotel", cursive;
$Habibi: "Habibi", serif;
$RobotoCondensed: "Roboto Condensed", sans-serif;
$RobotoFlex: "Roboto Flex", sans-serif;
