@forward "button";
@forward "typography";
@forward "colors";
@use "./fonts" as font;
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: font.$Poppins, font.$RobotoFlex;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-orange);
}
